.login {
    width: 100%;
    height: 100vh;
    background: #17212b;
    display: flex;
    align-items: start;
    justify-content:center;
    padding-top: 200px;
}

.login .loginBox {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;
}

.login .loginBox .loginTexst {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login .loginBox .loginTexst span {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: white;
}

.login .loginBox .loginTexst p {
    color: #768c9e;
    line-height: 22px;
    letter-spacing: 0.5px;
}

.login .loginBox .country {
    width: 100%;
}
 
.login .loginBox .country span {
    width: 100%;
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
    position: relative;
}

.login .loginBox .country span::after {
    content: "";
    position: absolute;
    width: 290px;
    height: 2px;
    background-color: #768c9e;
    bottom: 0;
    left: 0;
}

.login .loginBox .phone {
    display: flex;
    gap: 10px;
}

.login .loginBox .phone .country {
    width: 20%;
    background: none;
    color: white;
    outline: none;
    border: none;
    padding-bottom: 10px;
    border-bottom: 2px solid #768c9e;
    font-size: 18px;
}

.login .loginBox .phone .number {
    background: none;
    color: white;
    outline: none;
    border: none;
    padding-bottom: 10px;
    border-bottom: 2px solid #768c9e;
    font-size: 18px;
}

.login .loginBox .phone .code {
    width: 300px;
    background: none;
    color: white;
    outline: none;
    border: none;
    padding-bottom: 10px;
    border-bottom: 2px solid #768c9e;
    font-size: 18px;
}


.login .loginBox button {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color:rgb(41, 155, 221);
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
}