*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: sans-serif;
}

.tgCon {
    width: 100%;
    height: 100vh;
    background: #0e1621;
    display: flex;
}

.tgCon .tgLeft {
    height: 100vh;
    width: 80px;
    display: flex;
}

.tgCon .tgLeft .tgLeft_Btns {
    display: flex;
    flex-direction: column;
}

.tgCon .tgLeft .tgLeft_Btns button .ix {
    color: #768c9e;
}

.tgCon .tgLeft .tgLeft_Btns button {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 80px;
    height: 80px;
    justify-content: center;
    gap: 10px;
    background-color: transparent;
    border: none;
}

.tgCon .tgLeft .tgLeft_Btns button:hover {
    background: #25303e;
    cursor: pointer;
}

.tgCon .tgLeft .tgLeft_Btns .active {
    background: #25303e;
    cursor: pointer;
    color: #5eb5f7;
}

.tgCon .tgLeft .tgLeft_Btns .active .ix {
    color: #5eb5f7;
}

.tgCon .tgLeft .tgLeft_Btns .active span {
    color: #5eb5f7;
}

.tgCon .tgLeft .tgLeft_Btns button span {
    color: #768c9e;
    font-size: 16px;
    font-weight: 500;
}

.tgCon .tgUsers {
    width: 420px;
    height: 100vh;
    background-color: #17212b;
}

.tgCon .tgUsers .tgUsersSerach {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.tgCon .tgUsers .tgUsersSerach input {
    width: 95%;
    height: 60%;
    background-color: #242f3d;
    border: none;
    border-radius: 5px;
    padding-left: 6px;
}

.tgCon .tgUsers .tgUsersSerach input::placeholder {
    font-size: 17px;
    color: #616a6c;
}

.tgCon .tgUsers .tgUsers_users {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.tgCon .tgUsers .tgUsers_users .tgUsers_user {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    height: 80px;
    width: 100%;
    gap: 20px;
    background-color: #2b5278;
}

.tgCon .tgUsers .tgUsers_users .tgUsers_user img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.tgCon .tgUsers .tgUsers_users .tgUsers_user .tgUsers_users_Info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tgCon .tgUsers .tgUsers_users .tgUsers_user .tgUsers_users_Info .tgUsers_users_Info_Left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tgCon .tgUsers .tgUsers_users .tgUsers_user .tgUsers_users_Info .tgUsers_users_Info_Left .tgUsers_users_Info_Left_Name {
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}

.tgCon .tgUsers .tgUsers_users .tgUsers_user .tgUsers_users_Info .tgUsers_users_Info_Left .tgUsers_users_Info_Left_massage {
    color: rgba(255, 255, 255, 0.767);
}


.tgCon .tgUsers .tgUsers_users .tgUsers_user .tgUsers_users_Info .tgUsers_users_Info_Right {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.tgCon .tgUsers .tgUsers_users .tgUsers_user .tgUsers_users_Info .tgUsers_users_Info_Right .tgUsers_users_Info_Right_Time {
    color: #fff;
    font-size: 17px;
}